﻿@model SIGEAO.Models.ViewModels.AppointmentViewModel

@Styles.Render("~/DateTimePickerCSS")

@{
		Html.RenderPartial("_HeaderContent", Model);
}

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
				<div class="col-lg-12">
						<div class="ibox">
								<div class="ibox-title">
										<h5><i class="fa fa-calculator"></i> Datos de la Solicitud</h5>
										<div class="ibox-tools">
												<a class="collapse-link">
														<i class="fa fa-chevron-up"></i>
												</a>
										</div>
								</div>
								<div class="ibox-content">
										<div class="row">
												<div class="col-lg-12">
														@using (Html.BeginForm("Create", "Appointment", FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
																@Html.AntiForgeryToken()
																@Html.ValidationSummary("", new { @class = "text-danger" })
																<div class="row">
																		<div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
																				@Html.LabelFor(m => m.SkypeParameters.DateTime)
																				<div class="input-group DatePickerDateTime">
																						<span class="input-group-addon">
																								<i class="fa fa-calendar"></i>
																						</span>
																						@Html.TextBoxFor(m => m.SkypeParameters.DateTime, new { @class = "form-control sed" })
																				</div>
																		</div>
																		<div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
																				@Html.LabelFor(m => m.SkypeParameters.Duration)
																				<div class="input-group DatePickerTime">
																						<span class="input-group-addon">
																								<i class="fa fa-clock-o"></i>
																						</span>
																						@Html.TextBoxFor(m => m.SkypeParameters.Duration, new { @class = "form-control" })
																				</div>
																		</div>
																		<div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
																				@Html.LabelFor(m => m.SkypeParameters.Description)
																				@Html.TextAreaFor(m => m.SkypeParameters.Description, new { @class = "form-control" })
																		</div>
																</div>
																<div class="form-group">
																		<div class="col-md-offset-2 col-md-10">
																				<input type="submit" class="btn btn-default" value="Register" />
																		</div>
																</div>
														}
												</div>
										</div>
								</div>
						</div>
				</div>
		</div>
</div>
@section Scripts{
		@Scripts.Render("~/MomentJS")
		@Scripts.Render("~/DateTimePickerJS")
		<script>

				$('.DatePickerDateTime').datetimepicker();

				$('.DatePickerTime').datetimepicker({
						format: 'HH:mm'
				});
		</script>
}
