﻿<div class="footer">
    <div class="pull-right">
        Desarrollado por <a target="_blank" href="http://www.key-core.com"><img height="25" src="~/Content/Styles/dist/img/LogoGris.png" /></a>
    </div>
    <div>
        <strong>SIGEAO</strong> &copy; 2017. Todos los derechos reservados
    </div>
</div>
