﻿@model SIGEAO.Models.ViewModels.IViewModel

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@Model.TitleView</h2>
    </div>
    <div class="col-lg-2"></div>
</div>
