﻿<div class="row border-bottom">
	 <nav class="navbar navbar-static-top  " role="navigation" style="margin-bottom: 0">
	 	 <div class="navbar-header">
	 	 	 <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
	 	 	 <form role="search" class="navbar-form-custom" action="http://webapplayers.com/inspinia_admin-v2.7.1/search_results.html">
	 	 	 	 <div class="form-group">
	 	 	 	 	 <input type="text" placeholder="Buscar..." class="form-control" name="top-search" id="top-search">
	 	 	 	 </div>
	 	 	 </form>
	 	 </div>
	 	 <ul class="nav navbar-top-links navbar-right">
	 	 	 <li>
	 	 	 	 <span class="m-r-sm text-muted welcome-message">Bienvenido a SIGEAO...</span>
	 	 	 </li>
	 	 	 <li class="dropdown">
	 	 	 	 <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
	 	 	 	 	 <i class="fa fa-bell"></i>  <span class="label label-danger">2</span>
	 	 	 	 </a>
	 	 	 	 <ul class="dropdown-menu dropdown-alerts">
	 	 	 	 	 <li>
	 	 	 	 	 	 <a href="">
	 	 	 	 	 	 	 <div>
	 	 	 	 	 	 	 	 <i class="fa fa-check-square-o fa-fw"></i> Tienes 2 Solicitudes por Aprobar
	 	 	 	 	 	 	 	 <span class="pull-right text-muted small">2 dias</span>
	 	 	 	 	 	 	 </div>
	 	 	 	 	 	 </a>
	 	 	 	 	 </li>

	 	 	 	 	 <li class="divider"></li>
	 	 	 	 	 <li>
	 	 	 	 	 	 <div class="text-center link-block">
	 	 	 	 	 	 	 <a href="#">
	 	 	 	 	 	 	 	 <strong>Ver Todas</strong>
	 	 	 	 	 	 	 	 <i class="fa fa-angle-right"></i>
	 	 	 	 	 	 	 </a>
	 	 	 	 	 	 </div>
	 	 	 	 	 </li>
	 	 	 	 </ul>
	 	 	 </li>
	 	 	 <li>
	 	 	 	 @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
	 	 	 	 	 @Html.AntiForgeryToken()
	 	 	 	 <a href="javascript:document.getElementById('logoutForm').submit()" class="btn">
	 	 	 	 	 <i class="fa fa-sign-out"></i>
	 	 	 	 	 Salir
	 	 	 	 </a>
				}
	 	 </li>
	 </ul>

</nav>
</div>
