﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title - SIGEAO</title>
    <link rel="shortcut icon" type="image/png" href="~/Content/Styles/dist/img/logo-credipronto-[Convertido2].png" />

    @Styles.Render("~/BootstrapCSS")
    @Styles.Render("~/Jasny")
    @Styles.Render("~/AwesomeBootstrapCheckbox")
    @Styles.Render("~/Touchspin")
    @Styles.Render("~/ICheck")
    @Styles.Render("~/InspiniaCSS")

    @Scripts.Render("~/Modernizr")

</head>
<body class="skin-1">
		<div id="wrapper">
				@Html.Partial("_Navbar")
				<div id="page-wrapper" class="gray-bg">
						@Html.Partial("_Header")
						@RenderSection("Navegacion", required: false)
						@RenderBody()
						<br />
						<br />
						@Html.Partial("_Footer")
				</div>
		</div>


		@Scripts.Render("~/JQuery")
		@Scripts.Render("~/BootstrapJS")
		@Scripts.Render("~/MetisMenu")
		@Scripts.Render("~/SlimScroll")
		@Scripts.Render("~/InspiniaJS")
		@Scripts.Render("~/Pace")

		@RenderSection("scripts", required: false)

</body>
</html>
