﻿<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
				<ul class="nav metismenu" id="side-menu">
						<li class="nav-header">
								<div class="dropdown profile-element">
										<span>
												<img alt="image" class="img-circle" src="~/Content/Styles/dist/img/profile_small.jpg" />
										</span>
										<a data-toggle="dropdown" class="dropdown-toggle" href="#">
												<span class="clear">
														<span class="block m-t-xs">
																<strong class="font-bold">Nombre Pila</strong>
														</span> <span class="text-muted text-xs block">Rol Usuario<b class="caret"></b></span>
												</span>
										</a>
										<ul class="dropdown-menu animated fadeInRight m-t-xs">
												<li><a href="">Perfil</a></li>
												<li class="divider"></li>
												<li><a href="">Salir</a></li>
										</ul>
								</div>
								<div class="logo-element">
										SIGEAO
								</div>
						</li>
						<li>
								<a href="index-2.html"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboards</span> <span class="fa arrow"></span></a>
								<ul class="nav nav-second-level collapse">
										<li><a href="">Dashboard v.1</a></li>
										@*<li><a href="dashboard_2.html">Dashboard v.2</a></li>
								<li><a href="dashboard_3.html">Dashboard v.3</a></li>
								<li><a href="dashboard_4_1.html">Dashboard v.4</a></li>
								<li><a href="dashboard_5.html">Dashboard v.5 </a></li>*@
								</ul>
						</li>
						<li>
								<a href="@Url.Action("Index", "Categories")"><i class="fa fa-cogs"></i> <span class="nav-label">Categorias</span>  </a>
						</li>
						<li>
								<a href="#"><i class="fa fa-cogs"></i> <span class="nav-label">Administraci&oacute;n</span><span class="fa arrow"></span></a>
								<ul class="nav nav-second-level collapse">
										<li><a href="@Url.Action("Lista", "Accion")"><i class="fa fa-cog"></i>Acciones</a></li>
										<li><a href="@Url.Action("Lista", "Banco")"><i class="fa fa-bank"></i>Bancos</a></li>
										<li><a href="@Url.Action("Lista", "Bandera")"><i class="fa fa-flag"></i>Banderas</a></li>
										<li><a href="@Url.Action("Lista", "Cargo")"><i class="fa fa-user-o"></i>Cargos</a></li>
										<li><a href="@Url.Action("Lista", "ConceptoGasto")"><i class="fa fa-money"></i>Conceptos de Gastos</a></li>
										<li><a href="@Url.Action("Lista", "EstadoCivil")"><i class="fa fa-heart"></i>Estados Civiles</a></li>
										<li><a href="@Url.Action("Lista", "Estatus")"><i class="fa fa-arrows-alt"></i>Estatus</a></li>
										<li><a href="@Url.Action("Lista", "Inversionista")"><i class="fa fa-black-tie"></i>Inversionistas</a></li>
										<li><a href="@Url.Action("Lista", "LineaComision")"><i class="fa fa-percent"></i>L&iacute;neas de Comisi&oacute;n</a></li>
										<li><a href="@Url.Action("Lista", "LineaCredito")"><i class="fa fa-credit-card"></i>L&iacute;neas de Cr&eacute;dito</a></li>
										<li><a href="@Url.Action("Lista", "MotivoRechazo")"><i class="fa fa-times"></i>Motivos de rechazo</a></li>
										<li><a href="@Url.Action("Lista", "Oficina")"><i class="fa fa-institution"></i>Oficina</a></li>
										<li><a href="@Url.Action("Editar", "Parametros")"><i class="fa fa-wrench"></i>Par&aacute;metros</a></li>
										<li><a href="@Url.Action("Lista", "Parentesco")"><i class="fa fa-users"></i>Parentesco</a></li>
										<li><a href="@Url.Action("Lista", "TipoCuenta")"><i class="fa fa-credit-card-alt"></i>Tipos de Cuentas</a></li>
										<li><a href="@Url.Action("Lista", "TipoDocumento")"><i class="fa fa-id-card"></i>Tipos de Documentos</a></li>
										<li><a href="@Url.Action("Lista", "TipoInmueble")"><i class="fa fa-building"></i>Tipos de Inmuebles</a></li>
										<li><a href="@Url.Action("Lista", "TipoMovimiento")"><i class="fa fa-arrows-h"></i>Tipos de Movimientos</a></li>
										<li><a href="@Url.Action("Lista", "Transacciones")"><i class="fa fa-arrows-h"></i>Log de Transacciones</a></li>
										<li><a href="@Url.Action("Lista", "Ubicacion")"><i class="fa fa-globe"></i>Ubicaci&oacute;n Geogr&aacute;fica</a></li>
								</ul>
						</li>
						<li>
								<a href="#"><i class="fa fa-book"></i> <span class="nav-label">Solicitudes</span><span class="fa arrow"></span></a>
								<ul class="nav nav-second-level collapse">
										<li><a href="@Url.Action("Lista", "Solicitud")"><i class="fa fa-file"></i>Lista</a></li>
										<li><a href="@Url.Action("Crear", "Solicitud")"><i class="fa fa-spin fa-spinner"></i>Nueva</a></li>
										<li><a href=""><i class="fa fa-check-circle-o"></i>Aprobadas</a></li>
										<li><a href=""><i class="fa fa-times-rectangle"></i>Rechazadas</a></li>
										<li><a href=""><i class="fa fa-eye"></i>Peritaje</a></li>
								</ul>
						</li>
						<li>
								<a href=""><i class="fa fa-credit-card"></i> <span class="nav-label">Créditos </span><span class="fa arrow"></span></a>
								<ul class="nav nav-second-level collapse">
										<li><a href="@Url.Action("Lista", "Credito")"><i class="fa fa-file"></i>Lista</a></li>
								</ul>
						</li>
						<li>
								<a href="@Url.Action("Simulador", "Solicitud")"><i class="fa fa-calculator"></i> <span class="nav-label">Simulador</span>  </a>
						</li>
						<li>
								<a href="@Url.Action("Index", "Appointment")"><i class="fa fa-sign-in"></i> <span class="nav-label">Citas</span>  </a>
						</li>

				</ul>
    </div>
</nav>
