﻿
@model CrediPronto.Interface.IPersona
@*DATOS PERSONALES*@
<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5><i class="fa fa-user"></i>&nbsp;&nbsp;Datos Personales</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                @Html.HiddenFor(m => m.ID_Persona)
                <div class="row">
                    <div class="form-group col-lg-3 col-md-4 col-sm-12 col-xs-12">
                        @Html.LabelFor(m => m.ID_TipoDocumento)
                        @Html.DropDownListFor(m => m.ID_TipoDocumento, new SelectList(Model.ListaTipoDocumento, "ID_TipoDocumento", "TX_TipoDocumento"), "", new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(m=> m.ID_TipoDocumento, "", new { @class = "text-danger" })*@
                    </div>
                    <div class="form-group col-lg-3 col-md-4 col-sm-12 col-xs-12">
                        @Html.LabelFor(m => m.NU_Documento)
                        @Html.TextBoxFor(m => m.NU_Documento, new { @class = "form-control quitarFlechasInputNumerico", @type = "number" })
                        @*@Html.ValidationMessageFor(m => m.NU_Documento, "", new { @class = "text-danger" })*@
                    </div>
                    <div class="form-group col-lg-3 col-md-4 col-sm-12 col-xs-12 espacio-top-25">
                        <button class="btn btn-success" type="button" id="btnBuscar">
                            <i class="fa fa-search"></i>&nbsp;&nbsp;<span class="bold">Buscar</span>
                        </button>
                    </div>
                    <div class="form-group col-lg-3 col-md-4 col-sm-12 col-xs-12">
                        <div class="spiner-example espacio-top-25" id="spiner-buscarPersona" style="height:60px;">
                            <div class="sk-spinner sk-spinner-rotating-plane"></div>
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="row">
                    <div class="form-group col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        @Html.LabelFor(m => m.TX_Nombre1)
                        @Html.TextBoxFor(m => m.TX_Nombre1, new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(m => m.TX_Nombre1, "", new { @class = "text-danger" })*@
                    </div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        @Html.LabelFor(m => m.TX_Nombre2)
                        @Html.TextBoxFor(m => m.TX_Nombre2, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        @Html.LabelFor(m => m.TX_Apellido1)
                        @Html.TextBoxFor(m => m.TX_Apellido1, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        @Html.LabelFor(m => m.TX_Apellido2)
                        @Html.TextBoxFor(m => m.TX_Apellido2, new { @class = "form-control" })
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="row">
                    <div class="form-group col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group" id="txtFechaNacimiento">
                            @Html.LabelFor(m => m.DT_FechaNacimientoString)
                            <div class="input-group date">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                @Html.TextBoxFor(m => m.DT_FechaNacimientoString, new { @class = "form-control sed" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        @Html.LabelFor(m => m.ID_EstadoCivil)
                        @Html.DropDownListFor(m => m.ID_EstadoCivil, new SelectList(Model.CP_ESTADO_CIVIL, "ID_EstadoCivil", "TX_EstadoCivil"), "", new { @class = "form-control" })
                    </div>
                  
                </div>
                <div class="row">
                    <div class="form-group col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        @Html.LabelFor(m => m.TX_TelefonoFijo)
                        <div class="input-group m-b">
                            <span class="input-group-addon">
                                <i class="fa fa-phone"></i>
                            </span>
                            @Html.TextBoxFor(m => m.TX_TelefonoFijo, new { @class = "form-control maskPhone", placeholder = "" })
                        </div>
                    </div>
                    <div class="form-group col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        @Html.LabelFor(m => m.TX_TelefonoCelular)
                        <div class="input-group m-b">
                            <span class="input-group-addon">
                                <i class="fa fa-mobile-phone"></i>
                            </span>
                            @Html.TextBoxFor(m => m.TX_TelefonoCelular, new { @class = "form-control maskPhone", placeholder = "" })
                        </div>
                    </div>
                    <div class="form-group col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        @Html.LabelFor(m => m.TX_CorreoElectronico)
                        <div class="input-group m-b">
                            <span class="input-group-addon">@@</span>
                            @Html.TextBoxFor(m => m.TX_CorreoElectronico, new { @class = "form-control", @type = "email" })
                        </div>
                    </div>
                </div>
                    <div class="hr-line-dashed"></div>
                    <div class="row">
                        <div class="form-group col-lg-3 col-md-4 col-sm-12 col-xs-12">
                            @Html.LabelFor(m => m.ID_Pais_Casa)
                            @Html.DropDownListFor(m => m.ID_Pais_Casa, new SelectList(Model.CP_PAIS_CASA, "ID_Pais", "TX_Pais"), "", new { @class = "form-control" })
                        </div>
                        <div class="form-group col-lg-3 col-md-4 col-sm-12 col-xs-12">
                            @Html.LabelFor(m => m.ID_Departamento_Casa)
                            @Html.DropDownListFor(m => m.ID_Departamento_Casa, new SelectList(Model.CP_DEPARTAMENTO_CASA, "ID_Departamento", "TX_Departamento"), "", new { @class = "form-control chosen-select", data_placeholder = "Departamento..." })
                        </div>
                        <div class="form-group col-lg-3 col-md-4 col-sm-12 col-xs-12">
                            @Html.LabelFor(m => m.ID_Municipio_Casa)
                            @Html.DropDownListFor(m => m.ID_Municipio_Casa, new SelectList(Model.CP_MUNICIPIO_CASA, "ID_Municipio", "TX_Municipio"), "", new { @class = "form-control chosen-select", data_placeholder = "Municipio..." })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            @Html.LabelFor(m => m.TX_BarrioCasa)
                            @Html.TextAreaFor(m => m.TX_BarrioCasa, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            @Html.LabelFor(m => m.TX_DireccionCasa)
                            @Html.TextAreaFor(m => m.TX_DireccionCasa, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="row">
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            @Html.LabelFor(m => m.IM_Fotografia)
                            <br />
                            <output id="outLogo"></output>
                            <div class="attachment-block clearfix">
                                <img id="fotoConvertida" class="img-responsive" src="@Model.FotoConvertida">
                            </div>
                            <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                <div class="form-control" data-trigger="fileinput">
                                    <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                    <span class="fileinput-filename"></span>
                                </div>
                                <span class="input-group-addon btn btn-default btn-file">
                                    <span class="fileinput-new">Seleccionar archivo</span>
                                    <span class="fileinput-exists">Cambiar</span>
                                    <input type="file" name="fotoPost" id="fotoPost" accept="image/jpeg,image/gif,image/png" />
                                </span>
                                <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Eliminar</a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
@*DATOS LABORALES*@
<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5><i class="fa fa-institution"></i>&nbsp;&nbsp;Datos Laborales</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="form-group col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        @Html.LabelFor(m => m.TX_Empresa)
                        @Html.TextBoxFor(m => m.TX_Empresa, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        @Html.LabelFor(m => m.TX_Cargo)
                        @Html.TextBoxFor(m => m.TX_Cargo, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        @Html.LabelFor(m => m.TX_TiempoServicio)
                        @Html.TextBoxFor(m => m.TX_TiempoServicio, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        @Html.LabelFor(m => m.TX_TelefonoOficina)
                        <div class="input-group m-b">
                            <span class="input-group-addon">
                                <i class="fa fa-phone"></i>
                            </span>
                            @Html.TextBoxFor(m => m.TX_TelefonoOficina, new { @class = "form-control maskPhone", placeholder = "" })
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="row">
                    <div class="form-group col-lg-3 col-md-4 col-sm-12 col-xs-12">
                        @Html.LabelFor(m => m.ID_Pais_Empresa)
                        @Html.DropDownListFor(m => m.ID_Pais_Empresa, new SelectList(Model.CP_PAIS_EMPRESA, "ID_Pais", "TX_Pais"), "", new { @class = "form-control" })
                    </div>
                    <div class="form-group col-lg-3 col-md-4 col-sm-12 col-xs-12">
                        @Html.LabelFor(m => m.ID_Departamento_Empresa)
                        @Html.DropDownListFor(m => m.ID_Departamento_Empresa, new SelectList(Model.CP_DEPARTAMENTO_EMPRESA, "ID_Departamento", "TX_Departamento"), "", new { @class = "form-control chosen-select", data_placeholder = "Departamento..." })
                    </div>
                    <div class="form-group col-lg-3 col-md-4 col-sm-12 col-xs-12">
                        @Html.LabelFor(m => m.ID_Municipio_Empresa)
                        @Html.DropDownListFor(m => m.ID_Municipio_Empresa, new SelectList(Model.CP_MUNICIPIO_EMPRESA, "ID_Municipio", "TX_Municipio"), "", new { @class = "form-control chosen-select", data_placeholder = "Municipio..." })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        @Html.LabelFor(m => m.TX_BarrioEmpresa)
                        @Html.TextAreaFor(m => m.TX_BarrioEmpresa, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        @Html.LabelFor(m => m.TX_DireccionEmpresa)
                        @Html.TextAreaFor(m => m.TX_DireccionEmpresa, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
